FORMAT: 1A

HOST: https://testmanagement.qmetry.com

# QTM APIs
QMetry Open APIs.


# Group Admin

## Get Info service [/rest/admin/project/getinfo]
### Get Info [GET]
provides all the basic information of the project like scope, types of -bugs, license details.

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

+ Response 200

    + Body

            {"clientData":{"localeID":1,"timeZoneID":18,"dateTimeFormatID":1,"ldapActive":false,"SAMLActive":false,"authTypeArray":["QMETRY"],"isAllowManualEditOfLastExecutedField":"false","maxpagelimit":"50","saveexecutionhistory":"true","timesettings":"12"},"componentListID":1,"locale":"en","roleID":1,"roleName":"Admin","allowEditRecordData":true,"allowEditPublicView":true,"version":"8.5.1","supportEmail":"qtmprofessional@qmetrysupport.atlassian.net","isAwsDeployment":true,"disabledRoleRights":{"REQUIREMENT":["EXECUTE"],"TESTSUITE":["VERSIONING"],"EXECUTIONS":["VERSIONING"],"ISSUE":["EXECUTE","VERSIONING"]},"automationFrameworks":[{"buildFrameworks":[{"key":"MAVEN","value":"Maven"},{"key":"GRADLE","value":"Gradle"},{"key":"ANT","value":"Ant"}],"key":"CUCUMBER","value":"Cucumber"},{"buildFrameworks":[{"key":"MAVEN","value":"Maven"},{"key":"GRADLE","value":"Gradle"},{"key":"ANT","value":"Ant"}],"key":"JUNIT","value":"Junit"},{"buildFrameworks":[{"key":"MAVEN","value":"Maven"},{"key":"GRADLE","value":"Gradle"},{"key":"ANT","value":"Ant"}],"key":"TESTNG","value":"TestNG"},{"buildFrameworks":[{"key":"MAVEN","value":"Maven"},{"key":"ANT","value":"Ant"}],"key":"QAS","value":"QAF"},{"buildFrameworks":[{"key":"NONE","value":"None"}],"key":"HPUFT","value":"HP UFT"}],"logiServerUrl":"https://logidev.qmetry.com/QMetryReport","isLocked":false,"isBuildLOcked":false,"isReleaseLocked":false,"isProjectLocked":false,"currentReleaseId":853,"currentBuildId":2780,"currentProjectId":469,"richText":false,"currentProjectName":"jaydeep","currentReleaseName":"Default Release","currentBuildName":"Default Cycle","isDropMandatory":false,"allstatus":[{"name":"Blocked","defaultName":"blocked","id":3277,"color":"#CCCCCC|#FFFFFF","image":"co-blocked-ico","isArchived":false,"filtername":"blocked","isdefault":false},{"name":"Failed","defaultName":"failed","id":3280,"color":"#FF6666|#FFFFFF","image":"co-failed-ico","isArchived":false,"filtername":"failed","isdefault":false},{"name":"Not Run","defaultName":"notrun","id":3281,"color":"#205081|#FFFFFF","image":"co-notrun-ico","isArchived":false,"filtername":"notrun","isdefault":true},{"name":"Passed","defaultName":"passed","id":3282,"color":"#14892C|#FFFFFF","image":"co-passed-ico","isArchived":false,"filtername":"passed","isdefault":false},{"name":"Not Applicable","defaultName":"empty","id":3278,"color":"#59AFE1|#FFFFFF","image":"co-empty-ico","isArchived":false,"filtername":"empty","isdefault":false}],"projects":[{"projectID":469,"name":"jaydeep","projectKey":"3b3","isArchive":false,"releases":[{"releaseID":853,"name":"Default Release","isArchive":false,"startDate":"","builds":[{"buildID":2780,"name":"Default Cycle","isArchive":false}]},{"releaseID":854,"name":"release1","isArchive":false,"startDate":"01/28/2019","builds":[{"buildID":2782,"name":"cycle1","isArchive":false},{"buildID":2781,"name":"Default Cycle","isArchive":false}]}],"drops":[{"dropID":11,"name":"build test"}]}],"rootFolders":{"TC":{"id":2140,"name":"jaydeep"},"RQ":{"id":6273,"name":"jaydeep"},"TS":{"id":1044,"name":"jaydeep"}},"customListObjs":{"component":[{"id":84219.0,"name":"Not Available","uniqueLabel":"Not Available","isArchived":false}],"issuePriority":[{"id":84184,"name":"Blocker","uniqueLabel":"Blocker","isArchived":false},{"id":84185,"name":"Critical","uniqueLabel":"Critical","isArchived":false},{"id":84186,"name":"Major","uniqueLabel":"Major","isArchived":false},{"id":84187,"name":"Minor","uniqueLabel":"Minor","isArchived":false},{"id":84188,"name":"Trivial","uniqueLabel":"Trivial","isArchived":false}],"issueState":[{"id":84189,"name":"Open","uniqueLabel":"Open","isArchived":false},{"id":84190,"name":"Reopened","uniqueLabel":"Reopened","isArchived":false},{"id":84191,"name":"Resolved","uniqueLabel":"Resolved","isArchived":false},{"id":84192,"name":"Closed","uniqueLabel":"Closed","isArchived":false}],"issueType":[{"id":84181,"name":"Bug","uniqueLabel":"Bug","isArchived":false,"igConfigurationID":"0"},{"id":84182,"name":"Enhancement","uniqueLabel":"Enhancement","isArchived":false,"igConfigurationID":"0"},{"id":84183,"name":"New Feature","uniqueLabel":"New Feature","isArchived":false,"igConfigurationID":"0"}],"modifiedReason":[{"id":84168,"name":"Functional Change","uniqueLabel":"Functional Change","isArchived":false},{"id":84169,"name":"Bug Fix","uniqueLabel":"Bug Fix","isArchived":false}],"priority":[{"id":84159,"name":"Blocker","uniqueLabel":"Blocker","isArchived":false},{"id":84160,"name":"Critical","uniqueLabel":"Critical","isArchived":false},{"id":84161,"name":"Major","uniqueLabel":"Major","isArchived":false},{"id":84201,"name":"Minor","uniqueLabel":"Minor","isArchived":false},{"id":84202,"name":"Trivial","uniqueLabel":"Trivial","isArchived":false}],"requirementState":[{"id":84176,"name":"New","uniqueLabel":"New","isArchived":false},{"id":84178,"name":"Open","uniqueLabel":"Open","isArchived":false},{"id":84177,"name":"On Hold","uniqueLabel":"On Hold","isArchived":false},{"id":84206,"name":"Rejected","uniqueLabel":"Rejected","isArchived":false},{"id":84207,"name":"Requires Rework","uniqueLabel":"Requires Rework","isArchived":false},{"id":84208,"name":"In Progress","uniqueLabel":"In Progress","isArchived":false},{"id":84209,"name":"Review Pending","uniqueLabel":"Review Pending","isArchived":false},{"id":84210,"name":"Approved","uniqueLabel":"Approved","isArchived":false}],"resolution":[{"id":84193,"name":"Unresolved","uniqueLabel":"Unresolved","isArchived":false},{"id":84194,"name":"Fixed","uniqueLabel":"Fixed","isArchived":false},{"id":84195,"name":"Won't Fix","uniqueLabel":"Won't Fix","isArchived":false},{"id":84196,"name":"Duplicate","uniqueLabel":"Duplicate","isArchived":false},{"id":84197,"name":"Incomplete","uniqueLabel":"Incomplete","isArchived":false},{"id":84198,"name":"Cannot reproduce","uniqueLabel":"Cannot Reproduce","isArchived":false},{"id":84199,"name":"Not A Bug","uniqueLabel":"Not A Bug","isArchived":false},{"id":84200,"name":"Technical Limitation","uniqueLabel":"Technical Limitation","isArchived":false}],"testCaseState":[{"id":84162,"name":"New","uniqueLabel":"New","isArchived":false},{"id":84165,"name":"Open","uniqueLabel":"Open","isArchived":false},{"id":84164,"name":"On Hold","uniqueLabel":"On Hold","isArchived":false},{"id":84163,"name":"Rejected","uniqueLabel":"Rejected","isArchived":false},{"id":84203,"name":"Requires Rework","uniqueLabel":"Requires Rework","isArchived":false},{"id":84204,"name":"In Progress","uniqueLabel":"In Progress","isArchived":false},{"id":84205,"name":"Review Pending","uniqueLabel":"Review Pending","isArchived":false},{"id":84220,"name":"Closed","uniqueLabel":"Closed","isArchived":false}],"testCaseType":[{"id":84170,"name":"BVT","uniqueLabel":"BVT","isArchived":false},{"id":84173,"name":"Functional","uniqueLabel":"Functional","isArchived":false},{"id":84174,"name":"Performance","uniqueLabel":"Performance","isArchived":false},{"id":84172,"name":"Regression","uniqueLabel":"Regression","isArchived":false},{"id":84175,"name":"Security","uniqueLabel":"Security","isArchived":false},{"id":84171,"name":"UI","uniqueLabel":"UI","isArchived":false}],"testingType":[{"id":84166,"name":"Manual","uniqueLabel":"Manual","isArchived":false},{"id":84167,"name":"Automated","uniqueLabel":"Automated","isArchived":false}],"testRunStatus":[{"id":84217,"name":"Complete","uniqueLabel":"Complete","isArchived":false},{"id":84218,"name":"Incomplete","uniqueLabel":"Incomplete","isArchived":false}],"testSuiteState":[{"id":84179,"name":"New","uniqueLabel":"New","isArchived":false},{"id":84180,"name":"Open","uniqueLabel":"Open","isArchived":false},{"id":84211,"name":"On Hold","uniqueLabel":"On Hold","isArchived":false},{"id":84212,"name":"Rejected","uniqueLabel":"Rejected","isArchived":false},{"id":84213,"name":"Requires Rework","uniqueLabel":"Requires Rework","isArchived":false},{"id":84214,"name":"In Progress","uniqueLabel":"In Progress","isArchived":false},{"id":84215,"name":"Review Pending","uniqueLabel":"Review Pending","isArchived":false},{"id":84216,"name":"Approved","uniqueLabel":"Approved","isArchived":false}],"qmRightsRQ":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}],"qmRightsRQF":[],"qmRightsTC":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}],"qmRightsTCF":[],"qmRightsTCS":[],"qmRightsTS":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}],"qmRightsTSF":[],"qmRightsTP":[],"qmRightsTPS":[],"qmRightsIS":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}],"qmRightsAD":[],"qmRightsRP":[],"qmRightsCO":[],"qmRightsDH":[],"user":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}],"owner":[{"id":"1","name":"admin","igConfigurationID":"0","isActive":true}]},"integrationsystems":[[2,"Bugzilla"],[3,"FogBugz"],[4,"Jira"],[6,"Rally"]],"integrationversions":{"2":[],"3":[],"4":[],"6":[]},"modules":[{"entityTypeID":"1","entityTypeName":"REQUIREMENT"},{"entityTypeID":"3","entityTypeName":"TESTCASE"},{"entityTypeID":"6","entityTypeName":"TESTSUITE"},{"entityTypeID":"11","entityTypeName":"ISSUE"},{"entityTypeID":"12","entityTypeName":"ADMIN"},{"entityTypeID":"13","entityTypeName":"REPORT"},{"entityTypeID":"14","entityTypeName":"COMMON"},{"entityTypeID":"15","entityTypeName":"DASHBOARD"}],"currentUserRoleRights":{"US":{"USER":{"VIEW":true,"MODIFY":true}},"ROLE":{"ROLE":{"VIEW":true,"MODIFY":true}},"PROJ":{"PROJECT":{"VIEW":true,"MODIFY":true}},"BILD":{"BUILD":{"VIEW":true,"MODIFY":true}},"PL":{"PLATFORM":{"VIEW":true,"MODIFY":true}},"LABEL":{"LABEL":{"VIEW":true,"MODIFY":true}},"INT":{"INTEGRATION":{"VIEW":true,"MODIFY":true}},"AUTO":{"AUTOMATION":{"VIEW":true,"MODIFY":true}},"RP":{"REPORT":{"VIEW":true,"MODIFY":true}},"NOTI":{"NOTIFICATION":{"VIEW":true,"MODIFY":true}},"CUST":{"CUSTOMIZATION":{"VIEW":true,"MODIFY":true}},"LOCAL":{"LOCALIZATION":{"VIEW":true,"MODIFY":true}},"RQ":{"REQUIREMENT":{"VIEW":true,"MODIFY":true,"CREATE":true,"DELETE":true,"EXECUTE":true,"IMPORT":true,"EXPORT":true,"LINK":true,"COPY":true,"VERSIONING":true}},"TC":{"TESTCASE":{"VIEW":true,"MODIFY":true,"CREATE":true,"DELETE":true,"EXECUTE":true,"IMPORT":true,"EXPORT":true,"LINK":true,"COPY":true,"VERSIONING":true}},"TS":{"TESTSUITE":{"VIEW":true,"MODIFY":true,"CREATE":true,"DELETE":true,"EXECUTE":true,"IMPORT":true,"EXPORT":true,"LINK":true,"COPY":true,"VERSIONING":true}},"IS":{"ISSUE":{"VIEW":true,"MODIFY":true,"CREATE":true,"DELETE":true,"EXECUTE":true,"IMPORT":true,"EXPORT":true,"LINK":true,"COPY":true,"VERSIONING":true}},"VA":{"VISUAL_ANALYSIS":{"VIEW":true,"MODIFY":true}},"AC":{"AUDIT_COMPLIANCE":{"VIEW":true,"MODIFY":true}},"TDP":{"TEST_DATA_PARAMETERIZATION":{"VIEW":true,"MODIFY":true}},"ET":{"EXPLORATORY_TESTING":{"VIEW":true,"MODIFY":true}},"JIRA_INT":{"JIRA_INTEGRATION":{"VIEW":true,"MODIFY":true}}},"userRoleRights":{"TS":{"SHOW":{"ALLOW":true},"IMPORT":{"ALLOW":true},"EXPORT":{"ALLOW":true},"LINKPLATFORM":{"ALLOW":true},"COPY_TO_SCOPE":{"ALLOW":true},"COPY_FROM_SCOPE":{"ALLOW":true},"TESTSUITE":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true,"EXECUTE":true},"TESTSUITEFOLDER":{"CREATE":true,"EDIT":true,"DELETE":true},"TESTSUITE_RUN":{"VIEW":true,"CREATE":true,"DELETE":true}},"RQ":{"SHOW":{"ALLOW":true},"ADD_TO_SCOPE":{"ALLOW":true},"REMOVE_FROM_SCOPE":{"ALLOW":true},"IMPORT":{"ALLOW":true},"EXPORT":{"ALLOW":true},"UPDATE_WITHOUT_VERSION":{"ALLOW":true},"REQUIREMENT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true,"EXECUTE":true},"REQUIREMENTFOLDER":{"CREATE":true,"EDIT":true,"DELETE":true,"EXECUTE":true},"ASSIGN_DEFECTS_TO_REQUIREMENT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true}},"IS":{"SHOW":{"ALLOW":true},"IMPORT":{"ALLOW":true},"EXPORT":{"ALLOW":true},"ISSUE":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true}},"AD":{"SHOW":{"ALLOW":true},"AUTOMATIONAGENT":{"ALLOW":true},"ASSIGNROLETOUSER":{"ALLOW":true},"NOMENCLATURE":{"ALLOW":true},"SYSTEM_ADMIN_PERMISSIONS":{"ALLOW":true},"CHANGE_GRID_COLUMN_LAYOUT":{"ALLOW":true},"SET_DEFAULT_DROP":{"ALLOW":true},"DASHBOARD_ADMIN":{"ALLOW":true},"ADMIN":{},"IMPORT_EXPORT":{"ALLOW":true},"CUSTOMLIST":{},"USER":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"STATUS_MANAGEMENT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"FIELD_LAYOUT_MANAGEMENT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"INTEGRATION":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"BUILD":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"MANAGE_DOMAIN":{"ALLOW":true},"PRODUCT":{"DELETE":true},"MANAGE_RELEASE":{"ALLOW":true},"RELEASE":{"DELETE":true},"MANAGE_CYCLE":{"ALLOW":true},"CYCLE":{"DELETE":true},"MANAGE_PLATFORM":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"MANAGE_PLATFORM_GROUP":{"CREATE":true,"EDIT":true}},"TC":{"SHOW":{"ALLOW":true},"ADD_TO_SCOPE":{"ALLOW":true},"REMOVE_FROM_SCOPE":{"ALLOW":true},"IMPORT":{"ALLOW":true},"EXPORT":{"ALLOW":true},"UPDATE_WITHOUT_VERSION":{"ALLOW":true},"RESET_TESTCASE_STATUS_TO_NOTRUN":{"ALLOW":true},"COPY_OF_TESTCASE":{"ALLOW":true},"TESTCASE":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true,"EXECUTE":true},"TESTCASESTEP":{"CREATE":true,"EDIT":true,"DELETE":true},"TESTCASEFOLDER":{"CREATE":true,"EDIT":true,"DELETE":true,"EXECUTE":true},"TESTDATA_IMPORT":{"ALLOW":true},"TASTDATA_EXPORT":{"ALLOW":true},"TEST_DATA":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true}},"SYS":{"DEFAULT_SETTINGS":{"ALLOW":true},"SMTP_SETTINGS":{"ALLOW":true},"LOGIN_PAGE":{"ALLOW":true},"GENERAL_SETTINGS":{"ALLOW":true},"LDAP_CONFIG":{"ALLOW":true},"ATTACHMENT_SETTINGS":{"ALLOW":true},"NOTIFICATION_SETTINGS":{"ALLOW":true},"ROLE":{"ALLOW":true},"SYSTEM":{}},"RP":{"SHOW":{"ALLOW":true},"ADMIN_QUERY":{"ALLOW":true},"EXPORT":{"ALLOW":true},"CROSS_DOMAIN_QUERY":{"ALLOW":true},"REPORT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"QUERY":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true},"QUERY_EXPORT":{"ALLOW":true},"QUERY_CONFIGURATION_MANAGEMENT":{"VIEW":true,"CREATE":true,"EDIT":true,"DELETE":true}},"EXEC":{"Blocked":{"ALLOW":true},"Failed":{"ALLOW":true},"Not Run":{"ALLOW":true},"Passed":{"ALLOW":true},"Not Applicable":{"ALLOW":true}},"TK":{}},"maxAttachmentSize":10,"agentUrl":"https://s3.amazonaws.com/qprof-automationagent/qmetryagent/QMetryAgent_8.5.1.zip","clientCode":"CPCE0I","isMatrixViewEnabled":true,"isPlatformScopeFeatureEnabled":true,"isSyncAcrossDomainEnabled":false,"isTestDataEnabled":false,"isTestCaseApprover":false,"isTestSuiteApprover":false,"isApprovalWorkflowEnabled":false,"userType":1,"defaultPlatformId":2455,"isSaasEnabled":true,"timeFormat":12,"dateTimeFormatID":1,"matrixPlatformCount":20,"testSuiteTescaseCount":50,"userProfile":{"name":"admin","loginId":"admin","firstName":"QMetry","lastName":"Admin","id":1,"isInitialPasswordChanged":true,"isLdapUser":false,"isSAMLUser":false,"isSysAdmin":true,"gmtTzOffset":"-05:00","timeZone":"GMT-05:00","dateTimeFormat":"%m-%d-%Y","locale":"en-us","defaultModule":"DASHBOARD","moduletoolbar":"BOTH","maintoolbar":"BOTH","assettoolbar":"BOTH","isSuperAdmin":"true","localeCode":"en","localeID":1,"tzOffset":-18000000,"preferences":{"EXPANDFIRST":"1","AUTOOPENFIRST":"0"},"closeAfterUpdate":"1","showMainToolbar":"false","pagelimit":"30","maxWindowOption":"false","moduleMaxWin":"false","tcStepMaxWin":"false","tcStatusNotRun":"false","makeTextWrap":"false","allowUserToCloseGrid":"false","showTestSuiteMyAssignment":"false","IsFirstTimeLogin":"false"},"serverTimeZone":"GMT0:00","currentdrops":[],"nomenclature":{"TEST CASE":"Test Case","TC":"Test Case","TCS":"Test Case Step","DOMAIN":"Project","RELEASE":"Release","BUILD":"Build","ISSUE":"Issue","IS":"Issue","DF":"Issue","INTEGRATION":"Integration","TEST SUITE":"Test Suite","TS":"Test Suite","CYCLE":"Cycle","REQUIREMENT":"Requirement","RQ":"Requirement"},"showReleaseNote":true,"packages":{"QMETRY_PROFESSIONAL":true,"VERSION_CONTROL":true,"INTEGRATION":true,"AUTOMATION":true,"REPORTS":true,"USER_ROLE":true,"LOCALIZATION":true,"CUSTOMIZATION":true,"NOTIFICATION":true,"EXPORT":true},"licenseDetail":{"Exploratory Testing":0,"Audit Compliance":0,"Concurrent Users":5,"Visual Analysis":0,"JIRA integration":0,"Authentication integration":0,"Users":5,"Notification":0,"licenseType":"commercial","Confluence Reports":0,"Export":0,"SERVICE":["Basic Test Management","Export","Advanced Customization","Notification","Version Control","Audit Compliance","Visual Analysis","User/Role Management","Authentication integration","Localization","Users","JIRA integration","API Calling","Automation","Exploratory Testing","Confluence Reports","Read-only Users","Concurrent Users","eSignature"],"serviceGroupUsage":{"Integration Pack":0,"Exploratory Testing":0,"Customization Pack":0,"Reporting Pack":0,"Audit & Compliance Pack":0,"Basic Test Management":0,"eSignature":0,"Users":5,"Internationalization Pack":0},"Localization":0,"Automation":0,"API Calling":0,"licenseStartDate":"2018-01-11","User/Role Management":0,"Version Control":0,"licenseEndDate":"2020-01-11","licenseStatus":"active","Advanced Customization":0,"Basic Test Management":0,"eSignature":0,"Read-only Users":2,"users":{"active":1,"limit":5},"readOnlyUsers":{"active":0,"limit":2},"totalUsers":7,"concurrentUsers":5},"qmetryVersion":"8.5.1","alModules":["ADMIN","EXECUTION","REPORTS","REQUIREMENT","TESTCASE","ISSUE","TESTSUITE","IMPORT","PROJECT","USER","LABEL"],"alEvents":["CREATE","UPDATE","DELETE","MOVE","COPY","ARCHIVE","UNARCHIVE","CLONE","ADD","REMOVE"],"latestViews":{"TC":{"viewId":339,"viewName":"Custom"},"TS":{"viewId":335,"viewName":"Custom"},"RQ":{"viewId":331,"viewName":"Custom"},"IS":{"viewId":4,"viewName":"Default"},"TE":{"viewId":342,"viewName":"Custom"},"TCS":{"viewId":210,"viewName":"Default"}},"bddRepos":["BITBUCKET","GIT","SVN"],"dateTimeFormatNew":[{"id":1,"name":"MM-DD-YYYY","unique_value":"MM-dd-yyyy"},{"id":2,"name":"DD-MM-YYYY","unique_value":"dd-MM-yyyy"},{"id":3,"name":"YYYY-MM-DD","unique_value":"yyyy-MM-dd"},{"id":4,"name":"DD-MMM-YYYY","unique_value":"dd-MMM-yyyy"}],"isExtTrackerConfigured":false,"isRQConfigured":false,"autoReportBug":false,"isBddConfigured":false}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 403

    + Body

            <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
            <HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
            <TITLE>ERROR: The request could not be satisfied</TITLE>
            </HEAD><BODY>
            <H1>403 ERROR</H1>
            <H2>The request could not be satisfied.</H2>
            <HR noshade size="1px">
            Bad request.

            <BR clear="all">
            <HR noshade size="1px">
            <PRE>
            Generated by cloudfront (CloudFront)
            Request ID: q9kqFTQhWc8HLuToYy_5tkdfIkigdL_Xi6fMEGeLdWD-1eqQqSjDJA==
            </PRE>
            <ADDRESS>
            </ADDRESS>
            </BODY></HTML>

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch Audit Logs [/rest/admin/accesslog/list]
### Get List [POST]

**Request Body Insight**

| Parameters|Description|Required|
|--------------|---------------------|:----------:|
| fromDate |Date from which Audit Log is to be fetched |Yes|
| toDate |Date till which Audit Log is to be fetched |Yes|
| start |Start index of records  |No|
| limit |Number of records per page |No|
| page |Page number to be displayed |No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">Date format of the 'fromDate' and 'toDate' is depend on format that has been configured in qtm.
        <ul>
            <li><font size="3">To verify/update the Date Format - Go to qtm -> User Profile </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "fromDate": "10-10-2018",
                "toDate": "11-11-2018",
                "start": 0,
                "limit": 10,
                "page": 1
            }

+ Response 200

    + Body

            {"data":[{"accessLogID":285926,"actionName":"CREATE","accessDate":"10-25-2018 01:11:05","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":285000,"actionName":"CREATE","accessDate":"10-24-2018 08:25:58","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","entityKey":"SAM-IS-136","id":"117780","projectID":2,"version":"","message":"An Issue was created.","screenName":"ISSUE","userActionName":"create"},{"accessLogID":284999,"actionName":"UPDATE","accessDate":"10-24-2018 08:25:23","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","projectID":2,"message":"Issues syncing for JIRA configuration was started.","screenName":"PROJECT","userActionName":"reset-mapping"},{"accessLogID":284998,"actionName":"DELETE","accessDate":"10-24-2018 08:25:20","accessUser":"krunal","projectName":"Sample Domain","moduleName":"ISSUE","projectID":2,"message":"Create filter for JIRA configuration was started.","screenName":"PROJECT","userActionName":"save-map-field"},{"accessLogID":284954,"actionName":"CREATE","accessDate":"10-24-2018 07:29:36","accessUser":"Nidhi","projectName":"CodeSnippets","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":1098,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284883,"actionName":"CREATE","accessDate":"10-24-2018 05:29:52","accessUser":"hiral","projectName":"Sample Domain","moduleName":"ATTACHMENT","entityKey":"","id":"","projectID":2,"message":"An Attachment was added.","screenName":"TESTCASE","userActionName":"multiple-attachment-add"},{"accessLogID":284880,"actionName":"CREATE","accessDate":"10-24-2018 05:29:04","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for TestCase.","screenName":"TESTCASE","userActionName":"unlink-rq-list-view"},{"accessLogID":284878,"actionName":"CREATE","accessDate":"10-24-2018 05:28:53","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284877,"actionName":"CREATE","accessDate":"10-24-2018 05:28:48","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"},{"accessLogID":284876,"actionName":"CREATE","accessDate":"10-24-2018 05:28:44","accessUser":"hiral","projectName":"Sample Domain","moduleName":"REQUIREMENT","entityKey":"","id":"","projectID":2,"message":"Get available Requirements list for Testsuite.","screenName":"TESTSUITE","userActionName":"rq-unlink-list-view"}],"total":1482}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Generate Automation API Key [/rest/admin/user/generateAutomationAPIKey]
### Generate Automation API Key [POST]
API to generate automation API key

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

+ Response 200

    + Body

            {"automationAPIKey": "U9OlgwfNrh9uMadjV7qF2oekg96arr6otGqTSs23"}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 403

    + Body

            <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
            <HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
            <TITLE>ERROR: The request could not be satisfied</TITLE>
            </HEAD><BODY>
            <H1>403 ERROR</H1>
            <H2>The request could not be satisfied.</H2>
            <HR noshade size="1px">
            Bad request.

            <BR clear="all">
            <HR noshade size="1px">
            <PRE>
            Generated by cloudfront (CloudFront)
            Request ID: q9kqFTQhWc8HLuToYy_5tkdfIkigdL_Xi6fMEGeLdWD-1eqQqSjDJA==
            </PRE>
            <ADDRESS>
            </ADDRESS>
            </BODY></HTML>

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Get Agents [/rest/admin/agent/read]
### Get List [POST]
API to fetch automation agents

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Automation Agent key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start" : 0,
                "limit" : 50,
                "page" : 1
            }

+ Response 200

    + Body

            {
                "total": 3,
                "data": [
                    {
                        "pluginAgentId": 285,
                        "alias": "Agent1",
                        "os": "Windows 10",
                        "macAdd": "E0-D5-5E-1D-21-7F",
                        "status": "Inactive",
                        "creationDate": "2019-07-12T05:59:02",
                        "agentType": "QMetry",
                        "createdBy": "Dhaval Mistry",
                        "schedules": "0 Scheduled/<br/> 0 In progress",
                        "history": "History"
                    },
                    {
                        "pluginAgentId": 283,
                        "alias": "Agent2",
                        "os": "Windows 10",
                        "macAdd": "E0-D5-5E-95-EA-5E",
                        "status": "Inactive",
                        "creationDate": "2019-07-10T05:45:07",
                        "agentType": "QMetry",
                        "createdBy": "Nidhi Shah",
                        "schedules": "0 Scheduled/<br/> 0 In progress",
                        "history": "History"
                    },
                    {
                        "pluginAgentId": 282,
                        "alias": "Agent3",
                        "os": "Windows 10",
                        "macAdd": "E0-D5-5E-95-EA-5E",
                        "status": "Inactive",
                        "creationDate": "2019-07-10T05:43:38",
                        "agentType": "QMetry",
                        "createdBy": "Dhaval Mistry",
                        "schedules": "0 Scheduled/<br/> 0 In progress",
                        "history": "History"
                    }
                ]
            }

+ Response 400

    + Body

             {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch Execution statuses [/rest/admin/execution/list]
### Get List [POST]
API to list execution statuses

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|roleID|Id of role to get execution statuses specific to that role|Yes|
|filter|Send '1,0' to show archived/non archieve Execution Statuses|No|
|sort|Sort parameters - Refer JSON Schema|No|

<ul>
    <li><font size="3">To get the dropIds - Call API 'Admin/Get Info service'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> roleID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start": 0,
                "limit": 50,
                "page": 1,
                "roleID": 5,
                "filter":"[{\"value\":[1,0],\"type\":\"list\",\"field\":\"isArchived\"}]",
                "sort": "[{\"property\":\"weightage\",\"direction\":\"DESC\"}]"
            }

    + Schema

             "Sort" : {
                  "type" : "object",
                  "properties" : {
                    "property" : {
                      "type" : "string"
                    },
                    "direction" : {
                      "type" : "string"
                    }
                  }
                }

+ Response 200

    + Body

            [{"execStatusManagementID":10162,"name":"blocked","displayName":"Blocked","priority":3,"color":"#CCCCCC|#FFFFFF","defaultPriority":1,"defaultRunName":"blocked","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnRJREFUeNp8k81PE0EYxp+Z3ZY2FmhoSbxB9KIHtJAYDX5AAgfjRRIPJl6o/0EvnkUTE7hx8d67ByMn+YiRg6LxAB6NqEWl0ArlQ2G3uzPz+s4iFQwy2ZnN7M77e59n5h3gmFb+ervv++dbfcetEf9++DgxeNOEZkT9CnNkCDD88FvExQKBRs4Nv3p2JKC2lm/98WJpXPkqT5rgJFzIhAMLYRg0d9Kw8yL1yELPtbktG+fuAyozpaLx9ZAJDERMInP1JIT9a5SNQr3qYXN+C0EtzNMbbUPu2kHa4dPk9WHtqSGb2WbUOyGq08swfj0CkA4RbxPIXknBbZY8p/zbx93DDUC9ulsgxbKTTsNbuBGgOlWB9gKGhFEXToh0l2sBwBYKEaBSvtOhPJVzUi7aLmcRa2m4QrBhlayzkoCDGKQVmjKGVdislJt+crpDVia+dNrsbsqBdDTaLrbAbXEOQBRWp7YZsqeC2FKs2YCUQWr+RKc0HGwBQlDkVTgKmUtJxFrFAYjB6qQHbSGsQjgGxu4Xd5k4lSqRNvBX/b9epYW4DMEBCGFlko+T7XhlEyXdzXoleebGzBJXQ6m+HkL9rEcqwF2ykvZeHIbUgJXngL/GJwVdGry3uBSdApKyaFWsze00VNAfJe29AUNMA1KviUi6iqvioUp8N9ozT7yzTVkgc4ErLGnLTjOI/XJxVWbj8CssLtAwUi/0jX/oPlSJ5FM/SfPSK1Pu21Ogqd0gkd0rLJt1Z1lHmY00CzKU/f+9TK9Hu+7TNhVYTRoU1T5b4kBhNlVCjw+MLT449jbut9lHZ887VZEmIgTpcHPg4eL7o9b9FmAArEp9sJ45pQwAAAAASUVORK5CYII=","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnRJREFUeNp8k81PE0EYxp+Z3ZY2FmhoSbxB9KIHtJAYDX5AAgfjRRIPJl6o/0EvnkUTE7hx8d67ByMn+YiRg6LxAB6NqEWl0ArlQ2G3uzPz+s4iFQwy2ZnN7M77e59n5h3gmFb+ervv++dbfcetEf9++DgxeNOEZkT9CnNkCDD88FvExQKBRs4Nv3p2JKC2lm/98WJpXPkqT5rgJFzIhAMLYRg0d9Kw8yL1yELPtbktG+fuAyozpaLx9ZAJDERMInP1JIT9a5SNQr3qYXN+C0EtzNMbbUPu2kHa4dPk9WHtqSGb2WbUOyGq08swfj0CkA4RbxPIXknBbZY8p/zbx93DDUC9ulsgxbKTTsNbuBGgOlWB9gKGhFEXToh0l2sBwBYKEaBSvtOhPJVzUi7aLmcRa2m4QrBhlayzkoCDGKQVmjKGVdislJt+crpDVia+dNrsbsqBdDTaLrbAbXEOQBRWp7YZsqeC2FKs2YCUQWr+RKc0HGwBQlDkVTgKmUtJxFrFAYjB6qQHbSGsQjgGxu4Xd5k4lSqRNvBX/b9epYW4DMEBCGFlko+T7XhlEyXdzXoleebGzBJXQ6m+HkL9rEcqwF2ykvZeHIbUgJXngL/GJwVdGry3uBSdApKyaFWsze00VNAfJe29AUNMA1KviUi6iqvioUp8N9ozT7yzTVkgc4ErLGnLTjOI/XJxVWbj8CssLtAwUi/0jX/oPlSJ5FM/SfPSK1Pu21Ogqd0gkd0rLJt1Z1lHmY00CzKU/f+9TK9Hu+7TNhVYTRoU1T5b4kBhNlVCjw+MLT449jbut9lHZ887VZEmIgTpcHPg4eL7o9b9FmAArEp9sJ45pQwAAAAASUVORK5CYII="},{"execStatusManagementID":10163,"name":"failed","displayName":"Failed","priority":2,"color":"#FF6666|#FFFFFF","defaultPriority":2,"defaultRunName":"failed","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAeZJREFUeNqkk1tLG1EURverKCimaKkES62taZWEXKgatWCUxCRUm14Maii9Ydv/mQcvkL9RkjPIRMYzk5k5qw8xaUKkpfRhvRz41j4f7C2A/A+jjyIKEXqEw6g/C0RaPH8C30/g2zHm9AjztYr5/B7z8S3B00f4Iu27Bb3wjxrkc5h0GpNMEiYShCsrBBurBLV9OovzaJHWsGAwfFyFRgNTqRDG44TLywSlEubyEr9cwD/cw1uI4txKeoLul/M5aDTg+hosi6BcJigWQSlotzHn53Tiz+i83uZahCGBOT3CpFKEBwdgWX0JltUNK0Vnawt3dhbv1UvsQUEogvly+LtvqdQP0m6DUnibm7gzM+hIBLe0cYfg07tu31iMoFAYEhil8NbX0dPT3ExO4hZWRwXhhwrB0hJBPt/vjFIYpcC2Mc0mOp3GGR/H3c1wNSjwRQhr+/gvkpiLi+7UVgsvm8VdW8M0mxjbJqzXuYneR+dSwwJPRHUW5/GrRfz8NuHZGV42i45EuJmaQqdShPU6OpNA76Rpz93DEvk5tEhaRHkLUTpvdvBij/t9nYkJnLExnLkZdC6FPRAeWWVHRDkPH+CVN3D31nHzq7i7GXQujd5OjoTvPCZbRNki9Li6xepi/f0a/5FfAwDnlbiD1NTILQAAAABJRU5ErkJggg==","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAeZJREFUeNqkk1tLG1EURverKCimaKkES62taZWEXKgatWCUxCRUm14Maii9Ydv/mQcvkL9RkjPIRMYzk5k5qw8xaUKkpfRhvRz41j4f7C2A/A+jjyIKEXqEw6g/C0RaPH8C30/g2zHm9AjztYr5/B7z8S3B00f4Iu27Bb3wjxrkc5h0GpNMEiYShCsrBBurBLV9OovzaJHWsGAwfFyFRgNTqRDG44TLywSlEubyEr9cwD/cw1uI4txKeoLul/M5aDTg+hosi6BcJigWQSlotzHn53Tiz+i83uZahCGBOT3CpFKEBwdgWX0JltUNK0Vnawt3dhbv1UvsQUEogvly+LtvqdQP0m6DUnibm7gzM+hIBLe0cYfg07tu31iMoFAYEhil8NbX0dPT3ExO4hZWRwXhhwrB0hJBPt/vjFIYpcC2Mc0mOp3GGR/H3c1wNSjwRQhr+/gvkpiLi+7UVgsvm8VdW8M0mxjbJqzXuYneR+dSwwJPRHUW5/GrRfz8NuHZGV42i45EuJmaQqdShPU6OpNA76Rpz93DEvk5tEhaRHkLUTpvdvBij/t9nYkJnLExnLkZdC6FPRAeWWVHRDkPH+CVN3D31nHzq7i7GXQujd5OjoTvPCZbRNki9Li6xepi/f0a/5FfAwDnlbiD1NTILQAAAABJRU5ErkJggg=="},{"execStatusManagementID":10166,"name":"notrun","displayName":"Not Run","priority":1,"color":"#205081|#FFFFFF","defaultPriority":3,"defaultRunName":"notrun","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnJJREFUeNp0U0FrE0EYfdnEtlpLElBqg40WKjR4aKqCwUITQSj0oIIepAcvIl485Cp4FLx4COgt+AMUxFAJIRi1rXgopG2gTUVEYz1oYqk0pE2yszOzzjcxa0vqsMsyzHzve997b134z3r0/lfUalpgJgd9H1wfntvvnmv35vFy1Su5jHPG49zkPtZUxWYLRO23FFBCWCLx5O6ZagcAFdtSzqqL4WCPQOCggNsW4FygYQp8LptYXW8SUEE1iD29N65BjL3FIlyvmfAbDKXleWz//IL+XhtBHxA75cHl0S4YtghbjM9O33/jdQA0bdUZsNVjI/epibUfDMlkEov5RQgh1Csx4HNhKtwNBUAgcQeAZibaJ3ulo8eOdwzhiWvIZrPIZDKQsgUS8BsYCbh1jQYgtUkwmvmsn2Goz3ZASo3juHjlNirlMmZmXkESEykx1O9RLIRv6k4qamirlNokGHU4f4xj2P/PmdeFBs7FbmB1ZQXpdFqP43FLWJYAU6+hfVZWkdpEU6oOF4I2BvtMB+T52woOHR3FRDSqz6kRV8WSANphIatahy0mPZt5mBtFB6QiQlgtMX1er3MIi5MOMChhFBLyuV1MTGzlRvNbDgOH6w7Iy3e/kV+rofh1hxhszT+bntMuUMIoJN83mKO2VACTk5O4On4EocEDDsiL3CaWitsQXCYcGymelLDUQg3rFVOrHYlEMBIK6bEujXXj9IkuB4RzWZDSTuyJ8q2HH7yUMAoJ+UxWkdrEhmYm2ksfFXUmCmq82ELqZrXjZ6J4UsIoJOQzWUVqa8HUzESbOreLOwB2LwoJ+2sVqU2C7XfvjwADAA/Pz4QPWErtAAAAAElFTkSuQmCC","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnJJREFUeNp0U0FrE0EYfdnEtlpLElBqg40WKjR4aKqCwUITQSj0oIIepAcvIl485Cp4FLx4COgt+AMUxFAJIRi1rXgopG2gTUVEYz1oYqk0pE2yszOzzjcxa0vqsMsyzHzve997b134z3r0/lfUalpgJgd9H1wfntvvnmv35vFy1Su5jHPG49zkPtZUxWYLRO23FFBCWCLx5O6ZagcAFdtSzqqL4WCPQOCggNsW4FygYQp8LptYXW8SUEE1iD29N65BjL3FIlyvmfAbDKXleWz//IL+XhtBHxA75cHl0S4YtghbjM9O33/jdQA0bdUZsNVjI/epibUfDMlkEov5RQgh1Csx4HNhKtwNBUAgcQeAZibaJ3ulo8eOdwzhiWvIZrPIZDKQsgUS8BsYCbh1jQYgtUkwmvmsn2Goz3ZASo3juHjlNirlMmZmXkESEykx1O9RLIRv6k4qamirlNokGHU4f4xj2P/PmdeFBs7FbmB1ZQXpdFqP43FLWJYAU6+hfVZWkdpEU6oOF4I2BvtMB+T52woOHR3FRDSqz6kRV8WSANphIatahy0mPZt5mBtFB6QiQlgtMX1er3MIi5MOMChhFBLyuV1MTGzlRvNbDgOH6w7Iy3e/kV+rofh1hxhszT+bntMuUMIoJN83mKO2VACTk5O4On4EocEDDsiL3CaWitsQXCYcGymelLDUQg3rFVOrHYlEMBIK6bEujXXj9IkuB4RzWZDSTuyJ8q2HH7yUMAoJ+UxWkdrEhmYm2ksfFXUmCmq82ELqZrXjZ6J4UsIoJOQzWUVqa8HUzESbOreLOwB2LwoJ+2sVqU2C7XfvjwADAA/Pz4QPWErtAAAAAElFTkSuQmCC"},{"execStatusManagementID":10161,"name":"passed","displayName":"Passed","priority":0,"color":"#14892C|#FFFFFF","defaultPriority":4,"defaultRunName":"passed","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKfSURBVDjLpZPrS1NhHMf9O3bOdmwDCWREIYKEUHsVJBI7mg3FvCxL09290jZj2EyLMnJexkgpLbPUanNOberU5taUMnHZUULMvelCtWF0sW/n7MVMEiN64AsPD8/n83uucQDi/id/DBT4Dolypw/qsz0pTMbj/WHpiDgsdSUyUmeiPt2+V7SrIM+bSss8ySGdR4abQQv6lrui6VxsRonrGCS9VEjSQ9E7CtiqdOZ4UuTqnBHO1X7YXl6Daa4yGq7vWO1D40wVDtj4kWQbn94myPGkCDPdSesczE2sCZShwl8CzcwZ6NiUs6n2nYX99T1cnKqA2EKui6+TwphA5k4yqMayopU5mANV3lNQTBdCMVUA9VQh3GuDMHiVcLCS3J4jSLhCGmKCjBEx0xlshjXYhApfMZRP5CyYD+UkG08+xt+4wLVQZA1tzxthm2tEfD3JxARH7QkbD1ZuozaggdZbxK5kAIsf5qGaKMTY2lAU/rH5HW3PLsEwUYy+YCcERmIjJpDcpzb6l7th9KtQ69fi09ePUej9l7cx2DJbD7UrG3r3afQHOyCo+V3QQzE35pvQvnAZukk5zL5qRL59jsKbPzdheXoBZc4saFhBS6AO7V4zqCpiawuptwQG+UAa7Ct3UT0hh9p9EnXT5Vh6t4C22QaUDh6HwnECOmcO7K+6kW49DKqS2DrEZCtfuI+9GrNHg4fMHVSO5kE7nAPVkAxKBxcOzsajpS4Yh4ohUPPWKTUh3PaQEptIOr6BiJjcZXCwktaAGfrRIpwblqOV3YKdhfXOIvBLeREWpnd8ynsaSJoyESFphwTtfjN6X1jRO2+FxWtCWksqBApeiFIR9K6fiTpPiigDoadqCEag5YUFKl6Yrciw0VOlhOivv/Ff8wtn0KzlebrUYwAAAABJRU5ErkJggg==","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAKfSURBVDjLpZPrS1NhHMf9O3bOdmwDCWREIYKEUHsVJBI7mg3FvCxL09290jZj2EyLMnJexkgpLbPUanNOberU5taUMnHZUULMvelCtWF0sW/n7MVMEiN64AsPD8/n83uucQDi/id/DBT4Dolypw/qsz0pTMbj/WHpiDgsdSUyUmeiPt2+V7SrIM+bSss8ySGdR4abQQv6lrui6VxsRonrGCS9VEjSQ9E7CtiqdOZ4UuTqnBHO1X7YXl6Daa4yGq7vWO1D40wVDtj4kWQbn94myPGkCDPdSesczE2sCZShwl8CzcwZ6NiUs6n2nYX99T1cnKqA2EKui6+TwphA5k4yqMayopU5mANV3lNQTBdCMVUA9VQh3GuDMHiVcLCS3J4jSLhCGmKCjBEx0xlshjXYhApfMZRP5CyYD+UkG08+xt+4wLVQZA1tzxthm2tEfD3JxARH7QkbD1ZuozaggdZbxK5kAIsf5qGaKMTY2lAU/rH5HW3PLsEwUYy+YCcERmIjJpDcpzb6l7th9KtQ69fi09ePUej9l7cx2DJbD7UrG3r3afQHOyCo+V3QQzE35pvQvnAZukk5zL5qRL59jsKbPzdheXoBZc4saFhBS6AO7V4zqCpiawuptwQG+UAa7Ct3UT0hh9p9EnXT5Vh6t4C22QaUDh6HwnECOmcO7K+6kW49DKqS2DrEZCtfuI+9GrNHg4fMHVSO5kE7nAPVkAxKBxcOzsajpS4Yh4ohUPPWKTUh3PaQEptIOr6BiJjcZXCwktaAGfrRIpwblqOV3YKdhfXOIvBLeREWpnd8ynsaSJoyESFphwTtfjN6X1jRO2+FxWtCWksqBApeiFIR9K6fiTpPiigDoadqCEag5YUFKl6Yrciw0VOlhOivv/Ff8wtn0KzlebrUYwAAAABJRU5ErkJggg=="},{"execStatusManagementID":10164,"name":"empty","displayName":"Not Applicable","priority":5,"color":"#59AFE1|#FFFFFF","defaultPriority":5,"defaultRunName":"empty","statusIcon":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAntJREFUeNq0U89PE0EYfe2upVDabjfbEJHQC4WChPZStT1x5OgNoyYQ4MCxieKV+BdQiye5SNTEi7EXlEPTIJgIUoUgFU8ElgJNaYCGpoT+Guebxh5Qb7rJZDMz33vzvfdmgP/wuYxG45QsX1lraGhgTU1NzGq1rTkcjilNc7ouFxsuzYcMBkOYFysDAwO41tYmSg4PD7C0uIRCoXAqSVIonT6c/RMBgZ87HCrez89D39PR1dkFi8WCSqWCXC6Hp9PTiMVi4CTDur4rSKRfbXNw1G5XzPn8GRKJBArn54hEIggGg4JEkmQEAgFkMhnout6vadrr4+PjnECTZlVV2crKZ+b1epnF0szsdjtztrQwVdPYm7dRtvFtk62tb7DFxY+sz+tjnZ1dUwJbI5D6SfPV1la8ePkKHo+H2kRfby8eT05ibGwU8XhcSDE3NsLv90OW5f46gSQZfWQYFVC7z2Zm4Ha7kUx+x9zcO4yOjGDi0YSQRjVOzUkH+Agr1wgk4We1WhUFPDrcvBXA9vY2tra2xBgcvAMuT+yT9TVMvQN5naKizdrgRJxMUVWUSiWYTCZkM0fI5/NinZtHstfrBLIsLVDOFBWBq9UKGKsim83iwcMJuFwupFJ7iDwJI3uURXIzScZH6zE2N1t/lMvl4ZOTEzNFRSQH+/u4d/e+aNvvv8H9SCKdTuPrlwQuLoqn/NDxVCqVEwT8huVsNlt6Z2fnNuV8vacHnu5uKIoiJBm53m4+T6yuolgskunjy8ufPvx2ldvbXUPcnLDVZlMoKnKbKkgztc3B/CobQxw8+7e3gI4ONz2mEOVMUZHbZBj/L3BwmIN3/+nT/SnAAPCwF8oXXS6OAAAAAElFTkSuQmCC","isArchived":"false","isMasterStatus":"true","defaultRunStatus":"iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAntJREFUeNq0U89PE0EYfe2upVDabjfbEJHQC4WChPZStT1x5OgNoyYQ4MCxieKV+BdQiye5SNTEi7EXlEPTIJgIUoUgFU8ElgJNaYCGpoT+Guebxh5Qb7rJZDMz33vzvfdmgP/wuYxG45QsX1lraGhgTU1NzGq1rTkcjilNc7ouFxsuzYcMBkOYFysDAwO41tYmSg4PD7C0uIRCoXAqSVIonT6c/RMBgZ87HCrez89D39PR1dkFi8WCSqWCXC6Hp9PTiMVi4CTDur4rSKRfbXNw1G5XzPn8GRKJBArn54hEIggGg4JEkmQEAgFkMhnout6vadrr4+PjnECTZlVV2crKZ+b1epnF0szsdjtztrQwVdPYm7dRtvFtk62tb7DFxY+sz+tjnZ1dUwJbI5D6SfPV1la8ePkKHo+H2kRfby8eT05ibGwU8XhcSDE3NsLv90OW5f46gSQZfWQYFVC7z2Zm4Ha7kUx+x9zcO4yOjGDi0YSQRjVOzUkH+Agr1wgk4We1WhUFPDrcvBXA9vY2tra2xBgcvAMuT+yT9TVMvQN5naKizdrgRJxMUVWUSiWYTCZkM0fI5/NinZtHstfrBLIsLVDOFBWBq9UKGKsim83iwcMJuFwupFJ7iDwJI3uURXIzScZH6zE2N1t/lMvl4ZOTEzNFRSQH+/u4d/e+aNvvv8H9SCKdTuPrlwQuLoqn/NDxVCqVEwT8huVsNlt6Z2fnNuV8vacHnu5uKIoiJBm53m4+T6yuolgskunjy8ufPvx2ldvbXUPcnLDVZlMoKnKbKkgztc3B/CobQxw8+7e3gI4ONz2mEOVMUZHbZBj/L3BwmIN3/+nT/SnAAPCwF8oXXS6OAAAAAElFTkSuQmCC"}]

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch fields [/rest/admin/managefield/list]
### Get List [POST]
API to give list of fields

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|projectID|Unique identifier of project whose field list has to be obtained|No|
|isSystemFieldRequired|Send True to get System fields and false to get User fields. Defaulted to false|No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start" :0,
                "limit" :50,
                "page" :1,
                "projectID" :1098,
                "isSystemFieldRequired" :true
            }

+ Response 200

    + Body

            {"data":[{"label":"Summary","name":"name","fieldLength":"255","fieldType":"STRING","fieldTypeID":6,"modules":"REQUIREMENT,REQUIREMENTFOLDER,TASK,TESTCASE,TESTCASEFOLDER,TESTCASESTEP,TESTSUITE,TESTSUITEFOLDER","projects":"CodeSnippets","mandatory":true,"mapped":"false","inUse":"Yes","fieldMasterID":1,"userFieldID":29,"projectID":1098,"isSystem":true,"isDefaultMandatory":true,"defaultValueID":""},{"label":"Description","name":"description","fieldLength":"65535","fieldType":"LARGETEXT","fieldTypeID":2,"modules":"ISSUE,REQUIREMENT,REQUIREMENTFOLDER,TASK,TESTCASE,TESTCASEFOLDER,TESTCASESTEP,TESTSUITE,TESTSUITEFOLDER","projects":"CodeSnippets","mandatory":false,"mapped":"false","inUse":"Yes","fieldMasterID":2,"userFieldID":50,"projectID":1098,"isSystem":true,"isDefaultMandatory":false,"defaultValueID":""}],"total":42}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch roles [/rest/admin/role/list]
### Get List [POST]
API to show list of roles

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start" : 0,
                "limit" : 50,
                "page" : 1
            }

+ Response 200

    + Body

            {"data":[{"roleID":1331,"name":"r1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1330,"description":"Newrole_1","name":"Newrole_1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1329,"name":"Mday","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1328,"name":"NROLE","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1327,"name":"Role1","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1326,"name":"8.4.3_test3","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1325,"description":"8.4.3_test2","name":"8.4.3_test2","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1324,"description":"Role_Withoutlink_456","name":"Role_Withoutlink_456","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1318,"description":"test","name":"8.4.3_test","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1317,"description":"843_Sanity","name":"843_Sanity","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1316,"description":"Role_Withoutlink","name":"Role_Withoutlink","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1036,"name":"noAuto","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":1026,"description":"Desc","name":"ProductionRole","addLdapRole":true,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":732,"name":"TestRole","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":723,"description":"role","name":"role","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":604,"description":"RoleDescription","name":"SeniorManagement","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":533,"description":"QA Analyst","name":"QA Analyst","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":472,"description":"Create_ROle","name":"Create_ROle","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":471,"description":"TestTest_title","name":"Test_title","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":470,"description":"NewRole","name":"NewRole","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":421,"name":"New Role_Edit","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":281,"description":"Read Only","name":"Read Only","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":47,"description":"Admin without User Creation","name":"Manager","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":false},{"roleID":7,"description":"Tester","name":"Tester","addLdapRole":false,"isDefault":true,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":6,"description":"QA Manager","name":"QA Manager","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true},{"roleID":5,"description":"Admin","name":"Admin","addLdapRole":false,"isDefault":false,"allowEditRecordData":true,"allowEditPublicView":true,"isSysDefault":true}],"total":"26"}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Fetch available Releases and Cycles [/rest/admin/scope/tree]
### Get List [POST]

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|showArchive|Send false to get only unarchived Releases, defaulted to false|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "showArchive" :false
            }

+ Response 200

    + Body

            {"text":".","children":[{"projID":1098,"type":"CodeSnippets","isArchived":false,"isLocked":false,"iconCls":"ad-project-ico","expanded":true,"children":[{"relID":2596,"type":"Default Release","isLocked":false,"scope":"release","isArchived":false,"iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":5391,"type":"Default Cycle","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]},{"relID":3321,"type":"Realease efwsahybhip","isLocked":false,"scope":"release","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":6455,"type":"Cycle 15j2wgqef9v","isLocked":false,"scope":"cycle","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-cycle-ico","leaf":true},{"cyclID":6454,"type":"Default Cycle efwsahybhip","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]},{"relID":3323,"type":"Realease ticnfa42h6a","isLocked":false,"scope":"release","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-release-ico","expanded":true,"children":[{"cyclID":6459,"type":"Cycle b9wxzkjn27l","isLocked":false,"scope":"cycle","isArchived":false,"startdate":"2018-11-09T05:00:00","targetdate":"2018-11-10T05:00:00","iconCls":"ad-cycle-ico","leaf":true},{"cyclID":6457,"type":"Default Cycle ticnfa42h6a","isLocked":false,"scope":"cycle","isArchived":false,"iconCls":"ad-cycle-ico","leaf":true}]}]}]}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

# Group Custom list
## Add list [/rest/admin/customlist/add]
### Add [POST]
API to add custom list

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|listValue|ListValues to add - Refer JSON Schema|Yes|
|Listname|Name of list|Yes|

<br><br> **NOTE:**
<ul>
<li><font size="3">Value of Listname has to be unique.</li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "listValue": [
                    {
                        "Value": "0",
                        "isArchived": false,
                        "isLocked": false,
                        "Name": "Name",
                        "Alias": "Name" 
                    },
                    {
                        "Value": "0",
                        "isArchived": false,
                        "isLocked": false,
                        "Name": "Email",
                        "Alias": "Email"
                    }
                ],
                "Listname": "Applicants"
            }

    + Schema

            "ListValue" : {
                  "type" : "object",
                  "required" : ["Id"],
                  "properties" : {
                    "Name" : {
                      "type" : "string",
                      "description" : "Name of list value"
                    },
                    "Alias" : {
                      "type" : "string",
                      "description" : "Alias of list value"
                    },
                    "isArchived" : {
                        "type" : "boolean",
                        "description" : "default value is false"
                    },
                    "isLocked" : {
                        "type" : "boolean";
                        "description" : "default value is false"
                    },
                    "Value" : {
                      "type" : "string",
                      "description" : "weightage of the list value"
                    },
                    "id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, '0' when list value is to be added"
                    },
                    "Id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, 0 when list value is to be added"
                    }
                  }
                }

+ Response 200

    + Body

            {
                "id": 11105,
                "Listname": "Applicants",
                "success": true,
                "code": "AD.ADD_CUSTOMLIST_SUCCESS",
                "message": "List created successfully.",
                "data": [
                    {
                        "id": 11105,
                        "Listname": "Applicants"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}


+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}


+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## List [/rest/admin/customlist/list]
### Get List [POST]
API to list custom lists and dropdowns

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|filter|filter list with listname|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start" : 0,
                "limit" : 50,
                "page" : 1,
                "filter":"[{\"type\":\"string\",\"value\":\"Name\",\"field\":\"Listname\"}]"
            }

+ Response 200

    + Body

            {"data":[{"Id":5419,"Listname":"CL27","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5418,"Listname":"CL26","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5417,"Listname":"CL25","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5416,"Listname":"CL24","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5401,"Listname":"CL22","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5400,"Listname":"CL1111","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5399,"Listname":"Custom List pen6tzo49js","SystemDefine":false,"noofitems":0,"projectWiseCount":0},{"Id":5398,"Listname":"Custom List mtyc9f2b4pc","SystemDefine":false,"noofitems":2,"projectWiseCount":2},{"Id":5397,"Listname":"Applicants","SystemDefine":false,"noofitems":3,"projectWiseCount":3},{"Id":5281,"Listname":"Req_DirectCover","SystemDefine":false,"noofitems":14,"projectWiseCount":0}],"total":102}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}


## Fetch list items [/rest/admin/customlist/listval]
### Get List [POST]
API to list custom list values

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|qmMasterId|ID of custom list whose list values are to be obtained|Yes|
|params|Parameters - Refer JSON Schema|No|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the qmMasterId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "qmMasterId": 5397,
                "params": {
                    "showArchive": true
                },
                "start": 0,
                "limit": 10,
                "page": 1
            }

    + Schema

            "Parameters" : {
              "type": "object",
              "required": [
                "showArchive"
              ],
              "properties": {
                "showArchive": {
                  "type": "boolean",
                  "description": "Send 'true' to show archived entities",
                  "default": false
                }
              }
            }

+ Response 200

    + Body

            {"data":[{"Id":188416,"Alias":"Address[X]","Name":"Address","isArchived":true,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"},{"Id":188415,"Alias":"Contact","Name":"Contact","isArchived":false,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"},{"Id":188414,"Alias":"Name","Name":"NAme","isArchived":false,"isLocked":false,"isSystemDefault":false,"createdDate":"2018-10-25T08:55:40"}],"total":3}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Archive list items  [/rest/admin/customlistvalue/archive]
### Archive [PUT]
API to Archive values of custom list .

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|listDetailIDs|Unique identifier of Custom-list value|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listDetailIDs - Call API 'Custom list/Fetch list items'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                 "listDetailIDs":[188489]
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.LISTVALUE_ARCHIVE_SUCCESSFUL",
                "message": "List value(s) archived successfully."
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Update list [/rest/admin/customlist/update]
### Update [POST]
API to update custom list

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|listId|Unique identifier of list which is to be updated|Yes|
|listValueDeleted|Provide listValues to be deleted|Yes|
|listValue|Provide listValues to be updated/added|Yes|


<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
    <li><font size="3">To get the values for listValueDeleted and listValue - Call API 'Custom list/Fetch list items'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;] </li>
        </ul>
    </li>
    <li><font size="3">Request body must have either listValue or listValueDeleted. Data given in listvalue will be updated/added. Data given in listValueDeleted will be deleted.
        <ul>
            <li><font size="3">Note - Only archived listvalue can be deleted. To archive values call API - Custom list/Archive list items  </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "listId": 5435,
                "listValue": [
                    {
                        "Value": "0",
                        "isArchived": false,
                        "isLocked": false,
                        "Name": "Name_Added",
                        "Alias": "Name_Added",
                        "Id": 0
                    },
                    {
                        "Value": "0",
                        "isArchived": false,
                        "isLocked": false,
                        "Name": "contact_updated",
                        "Alias": "contact_updated",
                        "Id": 188416
                    }
                ],
                "listValueDeleted": [
                    {
                        "Id": 188490
                    }
                ]
            }

    + Schema

            "ListValue" : {
                  "type" : "object",
                  "required" : ["Id"],
                  "properties" : {
                    "Name" : {
                      "type" : "string",
                      "description" : "Name of list value"
                    },
                    "Alias" : {
                      "type" : "string",
                      "description" : "Alias of list value"
                    },
                    "isArchived" : {
                        "type" : "boolean",
                        "description" : "default value is false"
                    },
                    "isLocked" : {
                        "type" : "boolean";
                        "description" : "default value is false"
                    },
                    "Value" : {
                      "type" : "string",
                      "description" : "weightage of the list value"
                    },
                    "id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, '0' when list value is to be added"
                    },
                    "Id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, 0 when list value is to be added"
                    }
                  }
                },
        "listValueDeleted" : {
                  "type" : "object",
                  "required" : ["Id"],
                  "properties" : {
                    "Name" : {
                      "type" : "string",
                      "description" : "Name of list value"
                    },
                    "Alias" : {
                      "type" : "string",
                      "description" : "Alias of list value"
                    },
                    "isArchived" : {
                        "type" : "boolean",
                        "description" : "default value is false, pass true if value is archived"
                    },
                    "isLocked" : {
                        "type" : "boolean";
                        "description" : "default value is false"
                    },
                    "Value" : {
                      "type" : "string",
                      "description" : "weightage of the list value"
                    },
                    "id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, '0' when list value is to be added"
                    },
                    "Id" : {
                      "type" : "integer",
                      "format" : "int64",
                      "description" : "ID of list value to update/delete, 0 when list value is to be added"
                    }
                  }
                }

+ Response 200

    + Body

            {"data":[{"id":4968,"Listname":"CustomListuvr1q84kbvd"}]}

+ Response 400

    + Body

            {"success":false,"code":"AD.UPDATE_CUSTOMLIST_FAIL","data":[{"id":"","Listname":"jsonObj","msg":"UPDATE_CUSTOMLIST_FAIL"}]}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}


## Delete list [/rest/admin/customlist/delete]
### Delete [POST]
API to delete custom list.

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|listId|Unique identifier of Custom-list|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the listId - Call API 'Custom list/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].Id </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "listId" : 5397
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.DELETE_CUSTOMLIST_SUCCESS",
                "message": "List deleted successfully."
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

# Group Project
## Create [/rest/admin/project]
### Create [POST]
API to create project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|project|Project parameters - Refer JSON Schema|Yes|
|release|Release parameters - Refer JSON Schema|Yes|
|cycle|Cycle parameters - Refer JSON Schema|Yes|
|addLdapUser|Set true to allow addition of LDAP users in the project|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "project": {
                    "isAutoAddValue": true,
                    "approvalWorkflow": true,
                    "name": "Qmetry",
                    "projectKey": "QME",
                    "description": "Qmetry Project",
                    "isRichText": true,
                    "addLdapUser": true
                },
                "release": {
                    "name": "Default Release",
                    "description": ""
                },
                "cycle": {
                    "name": "Default Cycle",
                    "isLocked": false,
                    "isArchived": false
                }
            }

    + Schema

             "ProjectParams" : {
                  "type" : "object",
                  "required": [
                    "isAutoAddValue",
                    "approvalWorkflow",
                    "name",
                    "projectKey"
                  ],
                  "properties" : {
                      "isAutoAddValue": {
                        "type": "boolean",
                        "title": "The Isautoaddvalue Schema",
                        "default": false,
                        "examples": [
                          true
                        ]
                      },
                      "approvalWorkflow": {
                        "type": "boolean",
                        "title": "The Approvalworkflow Schema",
                        "default": false,
                        "examples": [
                          true
                        ]
                      },
                      "name": {
                        "type": "string",
                        "title": "The Name Schema",
                        "default": "",
                        "examples": [
                          "Qmetry"
                        ],
                        "pattern": "^(.*)$"
                      },
                      "projectKey": {
                        "type": "string",
                        "title": "The Projectkey Schema",
                        "default": "",
                        "examples": [
                          "QME"
                        ],
                        "pattern": "^(.*)$"
                      },
                      "description": {
                        "type": "string",
                        "title": "The Description Schema",
                        "default": "",
                        "examples": [
                          "Qmetry Project"
                        ],
                        "pattern": "^(.*)$"
                      },
                      "isRichText": {
                        "type": "boolean",
                        "title": "The Isrichtext Schema",
                        "default": false,
                        "examples": [
                          true
                        ]
                      }
                    }
                },
             "ReleaseParams" : {
                  "type" : "object",
                  "required" : [ "name" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "position" : 1,
                      "description" : "Name of Release"
                    },
                    "description" : {
                      "type" : "string",
                      "position" : 2,
                      "description" : "An explanation for the release."
                    }
                  }
                },
              "CycleParams" : {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "position": 1,
                      "description": "Name of Cycle"
                    },
                    "isArchived" : {
                        "type" : "boolean",
                        "description" : "default value is false"
                    },
                    "isLocked" : {
                        "type" : "boolean";
                        "description" : "default value is false"
                    }
                  }
                }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.PROJECT_SUCCESSFUL",
                "message": "Project (Qmetry) added successfully.",
                "data": [
                    {
                        "projectID": 6030,
                        "releaseID": 12784,
                        "cycleID": 19523,
                        "project_Name": "Qmetry"
                    }
                ]
            }

+ Response 400

    + Body

            {
                "success": false,
                "code": "CO.GENERAL_EXCEPTION"
            }

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {
                "success": false,
                "code": "CO.GENERAL_EXCEPTION"
            }

## List [/rest/admin/project/list]
### Get List [POST]
API to list all projects

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|params|Parameters - Refer JSON Schema|Yes|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start": 0,
                "limit": 50,
                "page": 1,
                "params": {
                    "showArchive": false
                }
            }

    + Schema

            "Parameters" : {
                  "type" : "object",
                  "required" : [ "showArchive" ],
                  "properties" : {
                    "showArchive" : {
                      "type" : "boolean",
                      "description" : "Send 'true' to show archived entities",
                      "default" : false
                    }
                  }
                }

+ Response 200

    + Body

            {"data":[{"projectID":1098,"name":"CodeSnippets","isArchived":false,"projectKey":"COD","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":891,"name":"Star Wars","isArchived":false,"projectKey":"SW","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":800,"name":"AmazonDemo","isArchived":false,"projectKey":"AMA","isLocked":false,"userDefault":false,"isRichText":false,"isAutoAddValue":true,"isSyncTCMailSend":false},{"projectID":2,"name":"Sample Domain","isArchived":false,"projectKey":"SAM","isLocked":false,"userDefault":false,"isRichText":true,"isAutoAddValue":true,"isSyncTCMailSend":false}],"total":4}

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Archive [/rest/admin/project/archive]
### Archive [PUT]
API to archive project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of projects to archive|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "projectID" : [1730]
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.ARCHIVE_SUCCESSFUL",
                "message": "Project (MercuryTours) archived successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{PROJECT}",
                        "project_Name": "(MercuryTours)"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}


## Unarchive [/rest/admin/project/unarchive]
### Unarchive [PUT]
API to unarchive project

**Request Body Insight**

|Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of project to Unarchive|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
     <li><font size="3">While calling API 'Projects/List', keep value of 'showArchive' attribute 'true' in request body.</li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "projectID" :[1730]
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.UNARCHIVE_SUCCESSFUL",
                "message": "Project(prodect) unarchived successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{PROJECT(Prodect)}"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Clone [/rest/admin/project/clone]
### Clone [POST]
API to clone project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|The unique identifier of the source project|Yes|
|name|Name of the source project|No|
|clone|Type of clone:- 0 - to clone only the folder structure, along with any releases and cycles & 1 - to clone Project meta-data, Requirements, Test Cases, Test Suites and Issues|No|
|Projectkey|The unique project key of new project|Yes|
|newProject|Name of the new project|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and name - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].name </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "Projectkey": "A3C",
                "clone": "1",
                "name": "APIARY 8.5.3",
                "newProject": "APIARY 8.5.3_copy",
                "projectID": 7022
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "CO.PROJECT_CLONE_IN_PROGRESS",
                "message": "This project (APIARY 8.5.3_copy) cloning is scheduled to run in the background. Go to \"Scheduled Task\" to track its progress.",
                "data": [
                    {
                        "filterName": " clone {PROJECT}",
                        "Project_name": "APIARY 8.5.3_copy"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Delete [/rest/admin/project/delete]
### Delete [PUT]
API to delete project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|projectID|Unique identifier of project to delete|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {"projectID":6030}

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.PROJECT_DELETE_INITIALISED",
                "message": "Project (Parivahan) deletion has been begun.",
                "data": [
                    {
                        "ENTITY_KEY": "{PROJECT}",
                        "project_Name": "Parivahan"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

# Group Release
## Create  [/rest/admin/release]
### Create [POST]
API to create release

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|release|Release Parameters - Refer JSON Schema|Yes|
|cycle|Cycle Parameters - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
    <li><font size="3">Date format of the 'startDate' and 'targetDate' is depend on format that has been configured in qtm.
        <ul>
            <li><font size="3">To verify/update the Date Format - Go to qtm -> User Profile </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "release": {
                    "name": "Sample Release",
                    "description": "",
                    "startDate": "10-10-2018",
                    "targetDate": "11-11-2018",
                    "projectID": "1488"
                },
                "cycle": {
                    "name": "Default Cycle",
                    "isLocked": false,
                    "isArchived": false
                }
            }

    + Schema

             "Release" : {
                  "type" : "object",
                  "required" : [ "name", "projectID" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name of Release"
                    },
                    "description" : {
                        "type" : "string",
                        "description" : "Description of release"
                    },
                    "startDate" : {
                      "type" : "string",
                      "description" : "Start date of the Release"
                    },
                    "targetDate" : {
                      "type" : "string",
                      "description" : "Target date of the Release"
                    },
                    "projectID" : {
                      "type" : "string",
                      "description" : "ID of project in which the Release resides"
                    }
                  }
                },
             "Cycle" : {
                  "type" : "object",
                  "required" : [ "name" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "position" : 1,
                      "description" : "Name of Cycle"
                    },
                    "isLocked" : {
                      "type" : "boolean",
                      "position" : 2,
                      "description" : "Defaulted to false",
                      "default" : false
                    },
                    "isArchived" : {
                      "type" : "boolean",
                      "position" : 3,
                      "description" : "Defaulted to false",
                      "default" : false
                    }
                  }
                }


+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.RELEASE_SUCCESSFUL",
                "message": "Release added successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{RELEASE}",
                        "releaseID": 6195,
                        "releaseName": "Release 1",
                        "builds": [
                            {
                                "name": "Default Cycle",
                                "isArchive": false,
                                "buildID": 12114
                            }
                        ]
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## List [/rest/admin/release/list]
### Get List [POST]
API to list all releases

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|start|Start index of records|No|
|limit|Number of records per page|No|
|page|Page number to be displayed|No|
|params|Parameters - Refer JSON Schema|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID - Call API 'Projects/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].projectID </li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "start": 0,
                "limit": 50,
                "page": 1,
                "params": {
                    "projectID": "1493",
                    "showArchive": true
                }
            }

    + Schema

             "Params" : {
                  "type" : "object",
                  "required" : [ "projectID" ],
                  "properties" : {
                    "projectID" : {
                      "type" : "string",
                      "description" : "Unique identifier of project"
                    },
                    "showArchive" : {
                        "type" : "boolean",
                        "default" : false
                    }
                  }
                }

+ Response 200

    + Body

            {
                "total": 2,
                "data": [
                    {
                      "projectID": 5637,
                      "createdDate": "03-19-2018 07:00:00 PM",
                      "releaseID": 12096,
                      "name": "Release2",
                      "description": "",
                      "NoofCycles": 1,
                      "isArchived": false,
                      "targetDate": "03-23-2018 07:00:00 PM",
                      "startDate": "03-18-2018 07:00:00 PM",
                      "Associatedproject": "Demo",
                      "isLocked": false,
                      "isDefault": 0,
                      "filterStartDate": "2018-03-19T00:00:00",
                      "filterTargetDate": "2018-03-24T00:00:00",
                      "isNonDeletable": false
                    },
                    {
                      "projectID": 5637,
                      "createdDate": "02-05-2018 07:00:00 PM",
                      "releaseID": 12097,
                      "name": "Sample Release",
                      "NoofCycles": 3,
                      "isArchived": false,
                      "Associatedproject": "Demo",
                      "isLocked": false,
                      "isDefault": 1,
                      "isNonDeletable": false
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Archive [/rest/admin/release/archive]
### Archive [PUT]
API to archive release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to archive|Yes|
|projectID|Id of project to which the release belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "releaseID": [
                    3724
                ],
                "projectID": "1494"
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.ARCHIVE_SUCCESSFUL",
                "message": "Release Project_name archived successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{RELEASE}"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Unarchive [/rest/admin/release/unarchive]
### Unarchive [PUT]
API to unarchive release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to Unarchive|Yes|
|projectID|Id of project to which the release belongs|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the projectID and releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute respectively -> data[&#x3C;index&#x3E;].projectID and data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
    <li><font size="3">While calling API 'Release/List', keep value of 'showArchive' attribute 'true' in request body.</li>
</ul>


+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "releaseID": [
                    3724
                ],
                "projectID": "1494"
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.UNARCHIVE_SUCCESSFUL",
                "message": "Release unarchived successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{RELEASE}"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

## Delete [/rest/admin/release/delete]
### Delete [POST]
API to delete release of the project

**Request Body Insight**

| Parameters|Description|Required|
|-----------|:---------|:-------|
|releaseID|Ids of release to delete|Yes|

<br><br> **NOTE:**
<ul>
    <li><font size="3">To get the releaseID - Call API 'Release/List'
        <ul>
            <li><font size="3">From the response, get value of following attribute -> data[&#x3C;index&#x3E;].releaseID </li>
        </ul>
    </li>
    <li><font size="3">To delete the release, it has to be archived.
        <ul>
            <li><font size="3">To archive the release - Call API 'Release/Archive'</li>
        </ul>
    </li>
</ul>

+ Request
    + Headers

            content-type: application/json
            apikey: <Generated Open API key>
            project: <Project Id/Key/Name>

    + Body

            {
                "releaseID" :[3724]
            }

+ Response 200

    + Body

            {
                "success": true,
                "code": "AD.DELETE_SUCCESSFUL",
                "message": "Release deleted successfully.",
                "data": [
                    {
                        "ENTITY_KEY": "{RELEASE}"
                    }
                ]
            }

+ Response 400

    + Body

            {"success": false,"code": "CO.GENERAL_EXCEPTION"}

+ Response 401

    + Body

            {"success":false,"code":"CO.INVALID_API_KEY"}

+ Response 500

    + Body

[...]
